.main-content {
  height: 85vh;
  padding: 2%;

  border: 1px solid silver;
  overflow-y: auto;
}

.main-content__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;
}

.main-content__item {
  max-width: 75%;
  margin: 1%;
  padding: 1%;

  color: #000000;
  text-align: right;
  cursor: default;
  user-select: none;

  &:first-child {
    align-self: flex-start;
  }
}

