.side-bar {
  width: 20%;
  border: 1px solid silver;
  overflow-x: scroll;
}

.side-bar__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-bar__item {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 50px;
  padding: 2%;

  color: #000000;
  border-bottom: 1px solid silver;
  user-select: none;
}
